name: Gradle Check

on:
  push:
    branches-ignore:
    - develop

jobs:
  gradle-check:
    name: Gradle Check
    uses: interlok-tooling/reusable-workflows/.github/workflows/gradle-check.yml@main
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
